
<h1>Welcome to Club Night <%= @name %></h1>
<br>

<p>
Introducing 'Club Night' - the ultimate app revolutionizing sports club nights for organizers and members alike!
<br>
<br>
Experience the simplicity of running a sports club night like never before. With 'Club Night', organizers can unlock a world of excitement and ensure an unforgettable session for every club member.
<br>
<br>
Step into the action by subscribing to our app for a nominal fee. As a club owner, you'll take center stage as the default admin, effortlessly creating and managing your club. But the real magic happens when club members join the fun, completely free of charge!
<br>
<br>
Prepare for a thrilling ride as club owners ignite the atmosphere with our exclusive 'Club Night' sessions. Seamlessly toggle members as present, unleashing the full potential of our app throughout the session. Get ready for the match generation feature, offering an abundance of options to guarantee a dynamic, diverse, and endlessly entertaining experience for everyone involved.
<br>
<br>
With 'Club Night', sports enthusiasts will revel in the joy of camaraderie, intense matches, and endless fun. Embrace the power of our app and witness the transformation of your sports club nights into extraordinary events that leave a lasting impression on every participant.
<br>
<br>
Join 'Club Night' today and let the adventure begin!
</p>
<br>

<div class="row">
  <div class="col">
    <h2>Clubs you are part of:</h2>
  </div>
  <div class="col-auto">
    <%= link_to("Find new club", find_new_club_path, class: "btn btn-success mt-3") %>
  </div>
</div>
<br>

<div class="row">
  <% @memberships.each do |m| %>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3 border border-success" style="max-width: 40vw; border-width: 3px">
        <div class="card-header" style="font-weight: bold">
          <div class="row align-items-center"> 
            <div class="col font-weight-bold" style="font-size: 20px;">
            <%= m.club.name %>
            <%if m.admin%>
              <span style="color: #198754;"><%= " - Admin" %></span>
              <%end%>
            </div>
            <div class="col-auto", style="margin-bottom: 16px;">
              <%= link_to("View Club", club_path(m.club), class: "btn btn-outline-success mt-3 mx-0") %>
            </div>
            </div>
        </div>
         <div class="card-body">
          <p style="">
            <span class="bold-label">Founder:</span> <%= m.club.founder %>
          </p>
          <p style="list-style-type: none">
            <span class="bold-label">Location:</span> <%= m.club.location %>
          </p>
          <p style="list-style-type: none">
            <span class="bold-label">Timetable:</span> <%= m.club.timetable %>
          </p>
          <p style="list-style-type: none">
            <span class="bold-label">My Level:</span> <%= m.level %>
          </p>
          <p style="list-style-type: none">
            <span class="bold-label">Members:</span> <%= m.club.users.count %>

            <%= link_to "View Members", members_path(club_id: m.club.id, club_name: m.club.name), class: "btn btn-outline-info btn-sm",  style: "margin-left: 15px;" %>
          </p>
        </div>

      </div>
    </div>
  <% end %>
</div>


       