<h1> My Profile </h1>
<br>
<h2><%= @user.name  %></h2>

<%= link_to("Edit", edit_user_path(@user)) %>



<br>
<%= @user.email %>
<br>
<%= @user.about %>
<br>
<h2>My Clubs</h2>
<%= @user.clubs.each do |c| %>
<ul>
    <li><%= c.name %></li>
    <li><%= c.founder %></li>
    <li><%= c.location %></li>
    <li><%= c.timetable %></li>
</ul>
<% end %>