<h1> My Profile </h1>
<br>

<div class="row">
  <div class="col-sm-6">
    <div class="card text-white bg-dark mb-3 border border-success" style="max-width: 40vw; border-width: 3px">

      <div class="card-header" style="font-weight: bold">
        <div class="row align-items-center"> 
          <div class="col font-weight-bold" style="font-size: 25px;">
            <%= @user.name  %>
          </div>
        </div>
      </div>

      <div class="card-body">
        <p><span class="bold-label">Email: </span>  <%= @user.email %></p>
        <p><span class="bold-label">About: </span>  <%= @user.about %></p>
        <p><span class="bold-label">Memberships: </span>  <%= @user.memberships.count %></p>
        
        <div class="d-flex justify-content-end">
          <%= link_to("Edit Profile", edit_user_path(@user), class: "btn btn-outline-info btn-sm", style: "margin-right: 5px;") %>
          <%= link_to("Delete My Profile", 
                      user_path(@user),
                      data: {
                              turbo_method: :delete, 
                              turbo_confirm: "Are you sure you want to delete?"
                            }, 
                      class: "btn btn-outline-danger btn-sm") %>
        </div>
      </div>

    </div>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col">
    <h2>Clubs you are part of:</h2>
  </div>
  <div class="col-auto">
    <%= link_to("Find new club", find_new_club_path, class: "btn btn-success mt-3") %>
  </div>
</div>
<br>

<div class="row">
  <% @memberships.each do |m| %>
    <div class="col-sm-6">
      <div class="card text-white bg-dark mb-3 border border-success" style="max-width: 40vw; border-width: 3px">

        <div class="card-header" style="font-weight: bold">
          <div class="row align-items-center"> 

            <div class="col font-weight-bold" style="font-size: 20px;">
              <%= m.club.name %>
              <%if m.admin%>
              <span style="color: #198754;"><%= " - Admin" %></span>
              <%end%>
            </div>

            <div class="col-auto", style="margin-bottom: 16px;">
              <%= link_to("View Club", club_path(m.club), class: "btn btn-outline-success mt-3 mx-0") %>
            </div>

          </div>
        </div>

        <div class="card-body">
          <p><span class="bold-label">Founder:</span> <%= m.club.founder %></p>
          <p><span class="bold-label">Location:</span> <%= m.club.location %></p>
          <p><span class="bold-label">Timetable:</span> <%= m.club.timetable %></p>
          <p><span class="bold-label">My Level:</span> <%= m.level %></p>
          <p>
            <span class="bold-label">Members:</span> <%= m.club.users.count %>
            <%= link_to "View Members", members_path(club_id: m.club.id, club_name: m.club.name), class: "btn btn-outline-info btn-sm",  style: "margin-left: 15px;" %>
          </p>

          <div class="d-flex justify-content-end">
            <%= link_to("Edit Membership", edit_membership_path(m, club_id: m.club.id, club_name: m.club.name), class: "btn btn-outline-info btn-sm", style: "margin-right: 5px;") %>
            <%= link_to("Delete Membership", membership_path(m), 
                        data: {
                                turbo_method: :delete, 
                                turbo_confirm: "Are you sure you want to delete?"
                              }, 
                        class: "btn btn-outline-danger btn-sm") %>
          </div>

        </div>

      </div>
    </div>
  <% end %>
</div>


   