<%= form_with(model: membership) do |form| %>
  <% if membership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

 <div>
    <%= form.label :waiting_to_play, style: "display: block" %>
    <%= form.select :waiting_to_play, [true, false] %>
  </div>

  <div>
    <%= form.label :club_id, style: "display: block" %>
    <%= form.select :club_id, Club.all.collect {|c| [c.name, c.id]}, selected: [params[:club_name], params[:club_id]] %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

   <div>
    <%= form.hidden_field :admin, value: true %>
  </div>

   <div>
    <%= form.label :level, style: "display: block" %>
    <%= form.select :level, ["Beginner", "Intermediate", "Expert"] %>
  </div>

  <div>
    <%= form.label :membership_type, style: "display: block" %>
    <%= form.select :membership_type, ["PAYG", "Monthly", "Annual"] %>
  </div>

   <div>
    <%= form.label :membership_expiry, style: "display: block" %>
    <%= form.date_field :membership_expiry %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
