<div id="<%= dom_id membership %>">
  <p>
    <strong>Club:</strong>
    <%= membership.club.name %>
  </p>

  <p>
    <strong>User:</strong>
    <%= membership.user.name %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= membership.admin %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= membership.level %>
  </p>

  
</div>