<h1>All Clubs</h1>


<%= link_to "Create New Club", new_club_path %>

<%= form_with(url: search_path) do |form| %>
  <%= form.text_field :query, placeholder: "Search..." %>
  <%= form.submit "Search" %>
<% end %>

<%= @query %>

<% if @results.present? %>
  <h3>Search Results for "<%= @query %>"</h3>
  <% @results.each do |result| %>
    <p><%= result.column_name %></p>
  <% end %>
<% else %>
  <p>No results found for "<%= @query %>".</p>
<% end %>


<table>
    <tr>
        <th>Name</th>
        <th>Founder</th>
        <th>Location</th>
        <th>Timetable</th>
    </tr>

    <% @clubs.each do |club| %>
        <tr>
        <td><%= link_to(club.name, club_path(club)) %></td>
        <td><%= club.founder%></td>
        <td><%= club.location %></td>
        <td><%= club.timetable %></td>
        <td>
            <%= link_to "Edit Club", edit_club_path(club) %>
            &nbsp;|&nbsp;
            <%= link_to "Delete Club", club_path(club),
                data: {
                    turbo_method: :delete, 
                    turbo_confirm: "Are you sure you want to delete #{club.name}?"} %>
        </td>
            
        

        </tr>
    <% end %>
</table>