<div class="container">
  <h1><%= @club.name %></h1>
  <%= link_to("All Clubs", find_new_club_path, class: "btn btn-success mt-3") %>
  <%= link_to("Join #{@club.name}", new_membership_path(club_id: @club.id, club_name: @club.name), class: "btn btn-success mt-3") %>



  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card text-white bg-dark text-center">
      <div class="card-header"><h5>Founder</h5></div>
        <div class="card-body ">
          <p class="card-text"><%= @club.founder %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark text-center">
        <div class="card-header"><h5 class="card-title">Location</h5></div>
        <div class="card-body text-center">
          <p class="card-text"><%= @club.location %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-6">
      <div class="card text-white bg-dark text-center">
        <div class="card-header"><h5 class="card-title">Timetable</h5></div>
        <div class="card-body text-center">
          <p class="card-text" style="margin-bottom: 10px;"><%= @club.timetable %></p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card text-white bg-dark text-center">
        <div class="card-header"><h5 class="card-title">Members</h5></div>

        <div class="card-body text-center">

            <span class="bold-label"><%=pluralize(@club.users.count, "Member")%></span> 
            <%= link_to "View Members", members_path(club_id: @club.id, club_name: @club.name), class: "btn btn-outline-info btn-sm",  style: "margin-left: 15px;" %>
        </div>
      </div>
    </div>
  </div>
</div>


  <%= link_to("Start Session", session_show_path(club: @club), class: "btn btn-warning mt-3") %>



