<h1><%= @club.name  %></h1>
<%= link_to("All Clubs", clubs_path) %>
<%# <%= link_to("Add New ", new_artist_song_path(@artist)) %> 

<br>
<%= @club.founder  %>
<br>
<%= @club.location  %>
<br>
<%= @club.timetable  %>
<br>