<%= javascript_include_tag 'session' %>

<h1><%=@club.name %> - Session Started</h1>

<br>

<%= link_to("Players", session_players_path(club: @club), class: "btn btn-primary mt-3") %>

<br>

<div class="container">

  <div class="row">

    <div class="col-md-3 text-center">

      <h3>Court 1</h3>

      <div class="court court1">

        <div class="row">

          <% Membership.where(
            court: 1, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="col-md-6">
              <div class="player">
                <%= Membership.find(membership.id).user.name %>
              </div>
            </div>

          <% end %>

        </div>

      </div>

      <%= form_tag(
        { controller: "session", action: "random", club_id: @club.id, court: 1 },
         method: :post) do %>
        <%= submit_tag "Create Match", class: "btn btn-primary create1" %>
      <% end %>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 1},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-primary end1" %>
        <% end %>

    </div>

    <div class="col-md-3 text-center">

      <h3>Court 2</h3>

      <div class="court court2">

        <div class="row">

          <% Membership.where(
            court: 2, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="col-md-6">
              <div class="player">
                <%= Membership.find(membership.id).user.name %>
              </div>
            </div>

          <% end %>

        </div>

      </div>

      <%= form_tag(
        { controller: "session", action: "random", club_id: @club.id, court: 2 },
         method: :post) do %>
        <%= submit_tag "Create Match", class: "btn btn-primary" %>
      <% end %>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 2},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-primary" %>
        <% end %>

    </div>

    <div class="col-md-3 text-center">

      <h3>Court 3</h3>

      <div class="court court2">

        <div class="row">

          <% Membership.where(
            court: 3, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="col-md-6">
              <div class="player">
                <%= Membership.find(membership.id).user.name %>
              </div>
            </div>

          <% end %>

        </div>

      </div>

      <%= form_tag(
        { controller: "session", action: "random", club_id: @club.id, court: 3 },
         method: :post) do %>
        <%= submit_tag "Create Match", class: "btn btn-primary" %>
      <% end %>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 3},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-primary" %>
        <% end %>

    </div>

    <div class="col-md-3 text-center">

      <h3>Court 4</h3>

      <div class="court court2">

        <div class="row">

          <% Membership.where(
            court: 4, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="col-md-6">
              <div class="player">
                <%= Membership.find(membership.id).user.name %>
              </div>
            </div>

          <% end %>

        </div>

      </div>

      <%= form_tag(
        { controller: "session", action: "random", club_id: @club.id, court: 4 },
         method: :post) do %>
        <%= submit_tag "Create Match", class: "btn btn-primary" %>
      <% end %>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 4},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-primary" %>
        <% end %>

    </div>

  </div>

</div>

<br>
<br>

<div class="row">
  <div class="col-md-6">
    <div class="container players-waiting" style="border: 1px solid black;">
      <h3>Players Waiting</h3>
      <ul class="list-group">
        <% Membership.where(waiting_to_play: true, club_id: @club.id, present: true).each do |membership| %>
          <li class="list-group-item"><%= membership.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="container players-resting" style="border: 1px solid black;">
      <h3>Players Resting</h3>
      <ul class="list-group">
        <% Membership.where(waiting_to_play: true, club_id: @club.id, present: true).each do |membership| %>
          <li class="list-group-item"><%= membership.user.name %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>