<%= javascript_include_tag 'session' %>

<div class="d-flex justify-content-between align-items-center">
  <h1><%=@club.name %> - Session Started</h1>
  <%= link_to("End Session", club_path(@club), class: "btn btn-danger mt-3") %>
</div>

<%= link_to("Toggle Players Present", session_players_path(club: @club), class: "btn btn-success mt-3 btn-thick-border") %>

<br>
<br>


<div class="container">

  <div class="row">

    <div class="col-md-3 text-center">

      <h3>Court 1</h3>

      <div class="court court1">

        <%# <div class="row"> %>

          <% Membership.where(
            court: 1, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="d-flex align-items-center justify-content-center">
              <p><%= Membership.find(membership.id).user.name %></p>
            </div>

          <% end %>

        <%# </div> %>

      </div>

      <%= link_to("Create Match", session_create_match_path(court: 1, club_id: @club), class: "btn btn-outline-success mt-3") %>

      <br>
      <br>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 1},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-outline-danger end1" %>
        <% end %>

    </div>

    <div class="col-md-3 text-center">

      <h3>Court 2</h3>

      <div class="court court2">

          <% Membership.where(
            court: 2, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="d-flex align-items-center justify-content-center">
              <p><%= Membership.find(membership.id).user.name %></p>
            </div>

          <% end %>

      </div>

      <%= link_to("Create Match", session_create_match_path(court: 2, club_id: @club), class: "btn btn-outline-success mt-3") %>

      <br>
      <br>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 2},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-outline-danger" %>
        <% end %>

    </div>

    <div class="col-md-3 text-center">

      <h3>Court 3</h3>

      <div class="court court2">



          <% Membership.where(
            court: 3, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="d-flex align-items-center justify-content-center">
              <p><%= Membership.find(membership.id).user.name %></p>
            </div>

          <% end %>



      </div>

      <%= link_to("Create Match", session_create_match_path(court: 3, club_id: @club), class: "btn btn-outline-success mt-3") %>
      
      <br>
      <br>
      
      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 3},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-outline-danger" %>
        <% end %>

    </div>

    <div class="col-md-3 text-center">

      <h3>Court 4</h3>

      <div class="court court2">


          <% Membership.where(
            court: 4, club_id: @club.id, present: true)
            .each do |membership| %>

            <div class="d-flex align-items-center justify-content-center">
              <p><%= Membership.find(membership.id).user.name %></p>
            </div>

          <% end %>


      </div>

      <%= link_to("Create Match", session_create_match_path(court: 4, club_id: @club), class: "btn btn-outline-success mt-3") %>
      
      <br>
      <br>

      <%= form_tag(
        { controller: "session", action: "end_game", club_id: @club.id, court: 4},
         method: :post) do %>
          <%= submit_tag "End Match", class: "btn btn-outline-danger" %>
        <% end %>

    </div>

  </div>

</div>

<br>
<br>


      <%# <div class="card text-white bg-dark mb-3 border border-success" style="max-width: 40vw; border-width: 3px"> %>


<div class="row">
  <div class="col-md-6">
    <div class="container players-waiting" style="border: 1px solid black; background-color: #f3ebe3;">
      <h3>Players Waiting</h3>
      <ul class="list-group">
        <% Membership.where(waiting_to_play: true, club_id: @club.id, present: true).each do |membership| %>
          <li class="list-group-item text-white bg-dark" style="margin-bottom: 5px">
            <div class="d-flex align-items-center align-items-middle justify-content-between ">
              <p style= "margin: 0">
              <%= membership.user.name %>
              <span class="text-muted"> <%= " - #{membership.level}" %></span>
              </p>
              <%= render "resting_form", membership: membership.id, club_id: @club.id %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="col-md-6">
    <div class="container players-resting" style="border: 1px solid black; background-color: #f3ebe3;">
      <h3>Players Resting</h3>
      <ul class="list-group">
        <% Membership.where(resting: true, club_id: @club.id, present: true).each do |membership| %>
          <li class="list-group-item text-white bg-dark" style="margin-bottom: 5px">
             <div class="d-flex align-items-center align-items-middle justify-content-between">
              <p style= "margin: 0">
              <%= membership.user.name %>
              <span class="text-muted"> <%= " - #{membership.level}" %></span>
              </p>
              <%= render "ready_form", membership: membership.id, club_id: @club.id %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



<script>
console.log('Script executed successfully');

  window.addEventListener('beforeunload', function() {
    console.log("IN SETTER")
    localStorage.setItem('scrollPosition', window.pageYOffset);
  });

  document.addEventListener('DOMContentLoaded', function() {
  if (window.location.hash) {
    const scrollPosition = parseInt(window.location.hash.split('-')[1]);
    window.scrollTo(0, scrollPosition);
  }
});
</script>